.nav
{
    position: fixed;
    padding: 44px 50px;
    top: 73px;
    left: -100%;
    /* top: -100%;
    left: 0; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F7;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: top 0.9s ease-out;
}
.menu
{
    position: fixed;
    padding: 44px 50px;
    top: 73px;
    left: -100%;
    /* top: -100%;
    left: 0; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F5F7;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: top 0.9s ease-out;
}

.menu__item
{
    padding: 12px 0;
}
.menu__item:hover > .menu__link
{
    color: #86868B;
}
.menu__item:last-child
{
    margin-bottom: 30px;
}

.menu__link
{
    font-size: 18px;
    line-height: 120%;
}