.flippable_card, .overlay
{
    position: relative;
    border-radius: 30px;
    /* background: #F5F5F7; */
    perspective: 1500px;
    cursor: pointer;
}

@media screen and (max-width: 576px)
{
    .flippable_card, .overlay
    {
        border-radius: 20px;
    }
}