.products
{
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 333px);
    /* grid-template-rows: 454px; */
    grid-auto-rows: 454px;
    place-content: center;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 283px);
    }
}

@media screen and (max-width: 991px) {
    .products {
        grid-template-columns: repeat(2, 333px);
        /* grid-template-rows: 350px; */
    }
}


@media screen and (max-width: 766px) {
    .products {
        padding: 0;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: 175px;
        grid-auto-rows: 240px;
        gap: 15px;
    }
}