.specificity
{
    padding: 100px 150px;
}

.title
{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 120%; /* 96px */
    letter-spacing: -3.2px;
}

.wrapper
{
    margin: 100px auto 0;
    padding: 0 100px 40px 0;
    max-width: 940px;
    height: 520px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text
{
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2.56px;
    margin-bottom: 40px;
}