.specificity
{
    padding: 100px 150px;
    perspective: 1500px;
}

.title
{
    text-align: center;
    font-size: 8rem;
    font-weight: 700;
    line-height: 120%; /* 96px */
    letter-spacing: -3.2px;
}

.wrapper
{
    margin: 100px auto 0;
    max-width: 940px;
    height: 520px;
    border-radius: 30px;
    background: #FFF;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    cursor: pointer;

    position: relative;
    transform-style: preserve-3d;

    transition: transform 1000ms;
}

.front,
.back
{
    width: 100%;
    height: 100%;
    
    position: absolute;
    border-radius: 30px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    /* padding: 0 100px 40px 0; */
    padding: 0 100px 0px 0;
    justify-content: space-between;
    align-items: center;
}

.front_btn__learn_more:hover
{
    opacity: .8;
}

.text
{
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2.56px;
    margin-bottom: 40px;
}

.back
{
    padding: 117px 114px;
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 80px;
}

.back_title
{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.44px;
    margin-bottom: 20px;
    text-align-last: left;
}

.back_text
{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
}

.close_btn
{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.back_info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}


@media screen and (max-width: 1200px)
{
    .specificity
    {
        padding: 100px 50px;
    }
    .front
    {
        gap: 40px;
    }
}

@media screen and (max-width: 991px)
{
    .specificity
    {
        padding: 50px;
    }
    .wrapper
    {
        margin-top: 50px;
        height: 377px;
    }
    .front
    {
        gap: 50px;
    }
    .title
    {
        font-size: 6rem;
    }
    .text
    {
        font-size: 4rem;
        margin-bottom: 30px;
    }
    .front_btn__learn_more
    {
        padding: 10px 18px 12px !important;
    }

    .back
    {
        padding: 44px;
        gap: 30px 60px;
    }
    .back_title
    {
        font-size: 2.4rem;
    }
}