.tabs__container
{
    position: relative;
    margin-top: 60px;
    overflow: hidden;
}

.tabs_decorative_up
{
    position: absolute;
    top: 15px;
    left: 140px;
    z-index: 10;
}

.tabs_decorative_down
{
    position: absolute;
    bottom: 50px;
    right: 110px;
    z-index: 10;
}

.tabs__content
{
    display: flex;
    place-content: center;
}

.tabs__content_img
{
    display: block;
    max-width: 1040px;
    width: 100%;
}

.show
{
    display: block;
}

.hide
{
    display: none;
}

.tabs__header
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 1202px)
{
    .tabs_decorative_up
    {
        top: 7px;
        left: 20px;
    }

    .tabs_decorative_down
    {
        width: 43px;
        bottom: 32px;
        right: 0;
    }
}

@media screen and (max-width: 992px)
{
    .tabs_decorative_up
    {
        top: 4px;
        left: 16px;
    }

    .tabs_decorative_down
    {
        width: 43px;
        bottom: 32px;
        right: 0;
    }
}

@media screen and (max-width: 767px)
{
    .tabs_decorative_up
    {
        top: 0px;
        left: 10px;
        width: 25px;
        height: 25px;
    }

    .tabs_decorative_down
    {
        width: 32px;
        bottom: 32px;
        right: 2px;
        transform: rotate(18deg);
    }

    .btn__mobile
    {
        padding: 11px 20px 13px !important;
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 575px)
{
    .tabs_decorative_up
    {
        top: 3px;
        left: 9px;
        width: 15px;
        height: 15px;
    }

    .tabs_decorative_down
    {
        width: 16px;
        height: 26px;
        right: 7px;
        bottom: 80px;
        transform: rotate(18deg);
    }
    .tabs__header
    {
        margin-top: 40px;
    }
}

@media screen and (max-width: 409px)
{
    .tabs_decorative_up
    {
        top: -1px;
        left: 4px;
        width: 15px;
        height: 15px;
    }

    .tabs_decorative_down
    {
        right: 0px;
        bottom: 70px;
        transform: rotate(18deg);
    }

    .tabs__header
    {
        /* overflow: scroll; */
        margin-top: 40px;
    }
}