.subheader_title
{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.subheader_btns {
    display: flex;
    gap: 10px;
}

.subheader_btn__constructor:hover
{
    background-color: #0066EB !important;
}