.subheader
{
    position: fixed;
    padding: 14px 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: top .5s;
}

.subheader_title
{
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

.subheader_btns {
    display: flex;
    gap: 10px;
}

.subheader_btn__constructor:hover
{
    background-color: #0066EB !important;
}