.lang_select
{
    /* margin-left: 40px; */
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

/* .langs__select,
.langs__select_custom
{
    position: absolute;
    width: 40px;
    height: 24px;
}

.langs__select
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.langs__select_custom
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

@media (hover: hover) {
    .langs__select_custom {
        display: block;
    }

    .langs__select:focus + .langs__select_custom {
        display: none;
    }
}

.langs__select_trigger
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0.8rem 0.8rem;
    cursor: pointer;
} */

.langs_menu
{
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border: 1px solid #e5e5ff;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    z-index: 1000;
}

.active
{
    opacity: 1;
    visibility: visible;
}

.langs_menu__item
{
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.langs_menu__item:hover
{
    background: #F5F5F7;
}

.lang_select__icon
{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.4rem;
}
.lang_globeIcon:hover > path
{
    stroke: #6E6E73;
}

.lang_arrowDownIcon
{
    transition: transform 0.3s ease-in-out;
}

.rotateArrow
{
    transform: rotate(180deg);
}

.hidden
{
    display: none;
}

@media screen and (max-width: 1202px) {
    .lang_select
    {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {

}