.card
{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50px;
    background: #303030;

    transform-style: preserve-3d;

    transition: transform 1000ms;
}

.front_card,
.back_card,
.back_card_h
{
    width: 100%;
    height: 100%;
    border-radius: 30px;

    padding: 60px;
    position: absolute;
    color: #F0F0F0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front_title
{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.6px;
}

.btn_icon
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

.back_card,
.back_card_h
{
    padding: 40px;

    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back_title
{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.6px;
    margin-bottom: 30px;
    text-align-last: left;
}

.back_text
{
    max-width: 491px;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.back__btn_icon
{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back_card_h
{
    transform: rotateX(180deg);
}