.main
{
    padding-top: 250px;
    min-height: calc(1434px - 80px);
    background: url(../../assets/img/products/bg-product.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 100px; */
}

.main_product__title,
.main_product__descr
{
    text-align: center;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    color: #fff;
}
.main_product__descr
{
    margin: 18px auto 100px;
    font-size: 3.2rem;
    font-weight: 500;
    width: 684px;
}