.main
{
    padding-top: 250px;
    min-height: calc(1434px - 80px);
    background: url(../../assets/img/products/bg-product.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 100px; */
}

.main_product__title,
.main_product__descr
{
    text-align: center;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    white-space: pre-line;
}
.main_product__descr
{
    margin: 18px auto 100px;
    font-size: 3.2rem;
    font-weight: 500;
    white-space: pre-line;
}

@media screen and (max-width: 991px)
{
    .main
    {
        padding-top: 200px;
        min-height: calc(700px - 80px);
        justify-content: start;
    }
    .main_product__title
    {
        font-size: 6rem;
    }
    .main_product__descr
    {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 767px)
{
    .main
    {
        padding-top: 200px;
        min-height: calc(700px - 80px);
        justify-content: start;
    }
    .main_product__title
    {
        font-size: 4.4rem;
    }
    .main_product__descr
    {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 576px)
{
    .main_product__title,
    .main_product__descr
    {
        text-align-last: left;
        margin-left: 40px;
    }
    .main_product__descr
    {
        margin: 43px 0 60px 40px;
    }
}