.header
{
    position: fixed;
    padding: 18px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid var(--light-grays-line, #E7E9EA);
    transition: top 0.5s;
    z-index: 100;
}
.header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left
{
    display: flex;
    gap: 40px;
}

.header__left_mobile
{
    display: none;
}
.header_logo
{
    cursor: pointer;
}
.lang
{
    display: flex;
    align-self: flex-end;
    gap: 20px;
}

.header__btn:hover
{
    background-color: #0066EB !important;
}

.header__btn_mobile, .header__hamburger
{
    display: none;
}

@media screen and (min-width: 1200px)
{
    .header
    {
        padding: 18px 100px;
    }
}

@media screen and (max-width: 1200px) {
    .header
    {
        padding: 14px 100px;
    }
}

@media screen and (max-width: 991px) {
    .header
    {
        padding: 14px 30px;
    }
    .lang
    {
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .header
    {
        gap: 0;
        border-bottom: 1px solid #E7E9EA;
    }
    .header__left
    {
        display: none;
    }
    .header__left_mobile
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__btn, .header__nav, .lang
    {
        display: none;
    }
    .header__btn_mobile, .header__hamburger
    {
        display: block;
    }
    .header__hamburger
    {
        width: 44px;
        height: 44px;
        padding: 13px;
        border-radius: 10px;
        background: #F5F5F7;
        cursor: pointer;
        display: flex;
        place-content: center;
        gap: 3px;
        flex-direction: column;
    }
    .active
    {
        position: absolute;
    }
}

@media screen and (max-width: 575px)
{
    .header
    {
        padding: 8px 16px;
    }
    .header_logo
    {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 410px)
{
    .header
    {
        padding: 8px 16px;
    }
}