.products_page
{
    padding: 80px 0 100px;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.filters
{
    margin: 20px auto;
    max-width: 544px;
}
.tabs
{
    margin: 20px auto;
    vertical-align: middle;
    display: inline-flex;
    gap: 5px;
    padding: 5px;
    border-radius: 38px;
    background-color: #fff;
}
.btn__mobile:hover
{
    background-color: #F5F5F7 !important;
    color: #1D1D1F !important;
}

@media screen and (max-width: 766px) {
    .tabs
    {
        margin: 15px auto;
    }
}