.product__card
{
    position: relative;
    padding: 10px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
}

.product__card_picture
{
    display: flex;
    place-content: center;
    /* max-width: 90%; */
}
/* 
.product_img
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
    object-fit: cover;
} */

.product__info
{
    padding: 16px;
    border-radius: 20px;
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
}
.product__info_name
{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    line-height: normal;
}
.product__info_price
{
    font-weight: 500;
}

.product__info_action
{
    margin-top: 18px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    background: #FBFBFD;
}
.btn:hover
{
    background: #313133 !important;
}

.benefits
{
    margin: 43px 0 44px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.benefit__item
{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #889097;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .product__info
    {
        padding: 14px;
        align-items: start;
        justify-content: center;
    }
    .product__info_action
    {
        padding-left: 8px;
        width: 100%;
    }
    .benefits
    {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .benefit__item
    {
        gap: 15px;
    }
}

@media screen and (max-width: 766px)
{
    .product__card
    {
        cursor: pointer;
    }
    .product__info
    {
        padding: 12px;
        border-radius: 16px;
    }
    .product__info_name
    {
        font-weight: 500;
        line-height: 100%;
        word-break: break-word;
    }       
    .product__info_action
    {
        margin-top: 7px;
        padding-left: 0;
        background: transparent;
    }
    .product__info_price
    {
        font-size: 14px;
        font-weight: 400;
    }
    .benefits
    {
        margin: 12px 0;
        gap: 7px;
    }
    .benefit__item
    {
        gap: 3px;
    }
    .benefit__item_img
    {
        width: 20px;
    }
}

@media screen and (max-width: 575px)
{
    .product__info
    {
        padding: 7px 6.5px 7px 11.5px;
    }
    .benefits
    {
        margin: 10px 0;
        gap: 5px;
    }
    .benefit__item
    {
        font-size: 14px;
        gap: 3px;
    }
    .benefit__item_img
    {
        width: 14px;
    }
}