.features
{
    margin-top: 214px;
    padding: 100px 210px;
    background-color: #1D1D1F;
}

.title
{
    color: #F0F0F0;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3.2px;
    text-align: center;
}

.features_wrapper
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(1, 600px);
    gap: 20px;
    place-content: center;
}