.features
{
    margin-top: 214px;
    padding: 100px 210px;
    background-color: #1D1D1F;
}

.title
{
    color: #F0F0F0;
    font-family: Inter;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3.2px;
    text-align: center;
}

.features_wrapper
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 600px;
    grid-auto-rows: 600px;
    gap: 20px;
    place-content: center;
}

@media screen and (max-width: 1200px)
{
    .features
    {
        margin-top: 145px;
        padding: 180px 210px;
    }
}

@media screen and (max-width: 991px)
{
    .features
    {
        margin-top: 0;
        padding: 50px;
    }
    .title
    {
        font-size: 6rem;
    }
    .features_wrapper
    {
        margin-top: 50px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 500px) !important;
        grid-auto-rows: 500px;
        gap: 20px;
        place-content: center;
    }
}

@media screen and (max-width: 766px)
{
    .features
    {
        padding: 64px 16px;
    }
    .title
    {
        font-size: 4.4rem;
    }
    /* .features_wrapper
    {
        grid-template-columns: 450px;
        grid-template-rows: repeat(3, 520px) !important;
        grid-auto-rows: 520px;
    } */
}

@media screen and (max-width: 576px)
{
    .features_wrapper
    {
        grid-template-columns: 378px;
        grid-template-rows: repeat(3, 520px) !important;
        grid-auto-rows: 520px;
    }
}

@media screen and (max-width: 409px)
{
    .features_wrapper
    {
        grid-template-columns: 310px;
        grid-template-rows: repeat(3, 420px) !important;
        grid-auto-rows: 420px;
    }
}