@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --heading-color: #1D1D1F;
  color: var(--heading-color);
  background-color: #F5F5F7;

  scroll-behavior: smooth;
}

*, ::after, ::before
{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li
{
  list-style-type: none;
}

a
{
  color: #1D1D1F;
  text-decoration: none;
}

button,
input,
textarea,
select
{
  border: none;
  outline: none;
}

textarea
{
  resize: none;
}

.container
{
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1202px) {
  /* .container
  {
    width: 960px;
  } */
}

@media screen and (max-width: 991px) {
  .container
  {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container
  {
    width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .container
  {
    width: 100%;
  }
}
