.specification
{
    padding: 100px 200px;
    background-color: #fff;
    scroll-snap-align: start;
}

.title
{
    font-size: 6.4rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 21px;
}

.table_title
{
    padding: 10px 20px;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: normal;
}

.wrapper
{
    display: flex;
    flex-direction: column;
}

.btn
{
    align-self: end;
}

.download_link
{
    color: #fff;
}

.btn:hover
{
    background-color: #0066EB !important;
}

table
{
    margin-bottom: 49px;
}

@media screen and (max-width: 1200px)
{
    .specification
    {
        padding: 100px;
    }
}

@media screen and (max-width: 991px)
{
    .specification
    {
        padding: 50px;
    }
    .title
    {
        font-size: 4rem;
    }
    .table_title
    {
        font-size: 2rem;
    }
}

@media screen and (max-width: 766px)
{
    .specification
    {
        padding: 64px 30px;
    }
    .title
    {
        font-size: 4rem;
    }
    .table_title
    {
        font-size: 2rem;
    }
    tr,
    td
    {
        padding: 3px 7px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px)
{
    .specification
    {
        padding: 64px 35px;
    }
    .title
    {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    table
    {
        margin-bottom: 16px;
    }
    table:last-child
    {
        margin-bottom: 10px;
    }
    .table_title
    {
        font-size: 1.6rem;
    }
}