.benefit__item
{
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.benefit__item_title
{
    font-size: 24px;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
}

@media screen and (max-width: 992px)
{
    .benefit__item
    {
        height: 115px;
    }
    .benefit__item_title
    {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px)
{
    .benefit__item
    {
        height: 125px;
    }
}